* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bolder;
    align-items: center;
    background: linear-gradient(rgba(241, 241, 82, 0.842),rgba(84, 189, 245, 0.961));
	font-family: 'Comic Neue', cursive;
    color: rgba(5, 65, 117, 0.817);
}
.location, .temperature {
    height: 30vh;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.temperature {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
    font-size: 20px;
}

.degree-section h2 {
    font-size: 30px;  
}
.temp-description{
    height: 20%;
    font-size: 30px;  

}
.sahar ,.eftar{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 40px;
     /* height: 30vh; */
    /* width: 90%; */
    text-align: center;
    justify-content: center;
}
i {
    padding-right: 10px;
}

.icon{
    margin:10px;
    padding: 10px;

}
footer {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction:row;
   justify-content: space-around;
}