* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    /* margin: 30px; */
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* font-weight: bolder; */
    align-items: center;
    background: linear-gradient(rgba(241, 241, 82, 0.842),rgba(84, 189, 245, 0.961));
	font-family: 'Comic Neue', cursive;
    color: rgba(5, 65, 117, 0.817);
}
.location, .temperature {
    height: 35vh;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.temperature {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
}
.degree-section span {
    margin: 10px;
    font-size: 20px;
}

.degree-section h2 {
    font-size: 26px;

}
.temp-description{
    height: 20%;
    padding: 20px;
    font-size: 20px;  

}
.sahar ,.eftar{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
     /* height: 30vh; */
    font-size:20px;
    text-align: center;
    justify-content: center;
}
i {
    padding-right: 10px;
}

.icon{
    margin: 5px;
    padding: 5px;
}
.today-icon{
  margin: 15px;
 padding: 15px;
}

footer {
    height: 32vh;
    width: 100%;
    display: flex;
    flex-direction:row;
   justify-content: space-around;
   align-items: center;
   padding-bottom: 60px;
   padding-left: 15px;
   padding-right: 22px;
}
